<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
  
    <p>
        Siber güvenlik alanında 16 yılı aşkın bir deneyime sahip olup, profesyonel kariyerime kaotik sistemlerde görüntü şifrelemelerin kriptanalizi ile başladım. 
    </p>

    <p>
        Çeşitli şirketlerde, ofansif güvenlik ve sızma testleri gibi konular üzerine çalıştıktan sonra, çok uluslu şirketlerde olay yönetimi uzmanı olarak görev yapmtım. Bu açıdan, hem ofansif, hem defansif tarafta tecrübem oldu.  

    </p>
    <p>
        Uluslararası yayımlanmış 5 farklı kitaba teknik reviewer olarak katkı sağladım. Terörizm ve istihbarat çalışmaları, psikolojil harekat ve savaş çalışmalarını içeren farklı disiplinlerin siber dünyadaki yansımaları ile ilgilenen disiplinler arası bir siber güvenlik uzmanıyım. 
    </p>
    <p>
        Teknik sertifikaların yanı sıra, Uluslararası İlişkiler ve Terörizm alanında Yüksek Lisans derecesi ve çeşitli terörizm ile ilgili ve uluslararası güvenlik çalışmaları sertifikalarına sahibim. Fiziksel güvenlik tarafında ise, ileri taktik atış, operasyonel taktik atış, dinamik karabina, taktik yaralı bakımı ve aşırı koşullarda hayatta kalma gibi güvenliğin çeşitli alanlarında sertifikalara sahibim.
    </p>
    <p>
        TRT Belgesel kanalında yayınlanan Semender isimli reality show programında, yardımcı eğitmen ve sorgu uzmanı olarak yer aldım. Marmara Üniversitesi Mühendislik Fakültesinde, kriptoloji ve sistem güvenliği dersleri verdim. 
    </p>

    <p>
        Şu anda Cyber Struggle’da disiplinler arası siber güvenlik araştırmaları yapmaktayım ve CyberMACs isimli Avrupa Birliği bünyesinde, birleşik bir yüksek lisans programında, Kadir Has Üniversitesi bünyesinde Siber Savaş isimli interdisipliner ve özgün bir ders vermekteyim.
    </p>


</div>
