<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    I have started to my professional career with cryptography of the images encrypted using chaotic logistic maps. After boring cryptography studies, had chance to work as a penetration tester. Performed penetration tests against IT infrastructres, web and mobile applications of many big clients such as banks, government institutions and telecommunication companies. Besides penetration testing, had also experience with incident investigation and root cause analysis cases.<br /><br />

    After working as a penetration tester, i started to work as a web application security expert in a multinational company. Had chance to handle more than 300 web applications' risks. Then, i worked for Incident Management and SOC in the same company globally. During incident management experience, i was responsible more than 40k servers and 4k applications, thousands of clients.<br /><br />

    Besides Cyber Security, i have also deep interested in social science such as criminology, socilogy, international relations and psychology. Additionally, i got trainings in the field of terrorism, anti-terrorism, psychological warfare and criminal profiling.<br /><br />

    With those different diciplines, i finally started my own company Sechob Offensive with two different brands operating under. <b>ARQUANUM</b> is consultancy, research & development brand and <b>CYBER STRUGGLE</b> is the world's most difficult and first multidisciplinary certification brand. Both brands are being operated vendor independent. <br /><br />
</div>
