<h1><span data-i18n="skills.my_skills">Cyber Trainings and Certs</span></h1>

<!--<div class="archive">
  <div class="timeline" id="timeline">
    {% for career in site.data.index.careers %}
          <div class="archive-title"><div class="archive-year"><strong>{{ career.date }}</strong> {{ career.job }} @ <a href="{{ career.link }}">{{ career.name }}</a></div></div>
    {% endfor %}
  </div>
</div>-->

<ul>
  <li>Cyber Struggle RANGER</li>
  <li>Certified Ethical Hacker</li>
  <li>OSCP</li>
  <li>International Cyber Conflicts</li>
  <li>OSSTMM Professional Tester</li>
  <li>Oracle Anti-Hacker Training, Alexandr Kornbrust</li>
  <li>Cisco Certificate Network Association </li>
  <li>Cisco IP Phones and Call Manager</li>
  <li>Sourcefire Pre-Sales Engineering</li>
  <li>F5 WAF and Load Balancer </li>
  <li>Palo Alto Firewall Pre-Sales Engineering</li>
  <li>Trend Micro Deep Security Suite</li>
</ul>
