<div class="navy-line"></div>
<h1><span data-i18n="skills.my_skills">Social/Military Trainings/Certs</span></h1>

<!--<div class="archive">
  <div class="timeline" id="timeline">
    {% for career in site.data.index.education %}
          <div class="archive-title bio"><div class="archive-year"><strong>{{ career.date }}</strong> <a href="{{ career.link }}">{{ career.name }}</a></div></div>
    {% endfor %}
  </div>
</div>-->

<ul>
  <li>Tactical Pistol</li>
  <li>Dynamic Pistol</li>
  <li>Tactical Carbine</li>
  <li>Dynamic Carbine</li>
  <li>Low Light No Light</li>
  <li>Advanced Operational Shooting</li>
  <li>Advanced Tactical Shooting</li>
  <li>Combined Firearms</li>
  <li>Tactical Combat Casualty Care</li>
  <li>Terrorism and Counter Terrorism</li>
  <li>Understanding Terrorism and Terrorist Threat</li>
  <li>International Security School Internship Program</li>
  <li>Psychology Winter School</li>
  <li>Foreign Policy</li>
  <li>Middle-East Policy</li>
  <li>Conflict Management</li>
  <li>Fundamentals of Surviving</li>
  <li>Surviving in Jungle</li>
  <li>Surviving in Extreme Hot Conditions</li>
  <li>Surviving in Extreme Cold Conditions</li>
  <li>Surviving Behind Enemy Lines</li>
  <li>Psychodiagnostic and Psychological Assessment</li>
  <li>Criminal Profiling</li>
  <li>Marketing and Perception</li>
  <li>Consumer Neuroscience and NeuroMarketing</li>

</ul>
