<h1><span data-i18n="skills.my_skills">Why do I write?</span></h1>

<div>
    <p>
        Actually, I'm trying to write. Social media and blogging are probably among the topics I'm least successful at. I'm trying to keep experimenting :)
    </p>

    <p>
        I plan to share my views, ideas, self-discussions, and brainstorming on various topics, especially the components of the training methodology I've developed. I'll try to do alchemy in a counterclockwise direction.
    </p>
</div>


<h1><span data-i18n="skills.my_skills">About Me</span></h1>

<div>
  
    <p>
        With over 16 years of experience in cybersecurity, I began my professional career with cryptanalysis of image encryption in chaotic systems.
    </p>

    <p>
        After working on topics such as offensive security and penetration testing at various companies, I served as an incident management specialist in multinational companies. From this perspective, I have experience on both the offensive and defensive sides.
    </p>
    <p>
        I contributed as a technical reviewer to 5 different internationally published books. I am an interdisciplinary cybersecurity expert interested in the reflections of different disciplines in the cyber world, including terrorism and intelligence studies, psychological operations, and war studies.
    </p>
    <p>
        In addition to technical certifications, I hold a Master's degree in International Relations and Terrorism, as well as various certifications related to terrorism and international security studies. On the physical security side, I have certifications in various areas of security, such as advanced tactical shooting, operational tactical shooting, dynamic carbine, tactical casualty care, and survival in extreme conditions.
    </p>
    <p>
        I participated as an assistant trainer and interrogation expert in a reality show called Semender, which was broadcast on TRT Documentary channel. I taught cryptology and system security courses at Marmara University Faculty of Engineering.
    </p>

    <p>
        I am currently conducting interdisciplinary cybersecurity research at Cyber Struggle and teaching an interdisciplinary and original course called Cyber Warfare at Kadir Has University as part of CyberMACs, a joint master's program under the European Union.
    </p>

    <p>
        <div class="img-container">
            <img src="/img/about/tactical.jpg" alt="">
        </div>
    </p>
</div>
