<div class="language-switcher">
  {% for language in site.data.languages %}
    {% assign lang_code = language[0] %}
    {% assign lang_data = language[1] %}
    
    {% if lang_code == page.lang %}
      <span class="active-language">{{ lang_data.icon }} {{ lang_data.label }}</span>
    {% else %}
      {% if page.translation_url %}
        <!-- If there's a specific translation URL for this page, use it -->
        <a href="{{ page.translation_url }}" class="language-link">{{ lang_data.icon }} {{ lang_data.label }}</a>
      {% else %}
        <!-- Otherwise, construct the URL based on language roots -->
        {% assign current_lang_root = site.data.languages[page.lang].root %}
        {% assign target_lang_root = lang_data.root %}
        
        <!-- All languages now have their own directory -->
        <a href="{{ page.url | replace_first: current_lang_root, target_lang_root }}" class="language-link">{{ lang_data.icon }} {{ lang_data.label }}</a>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
