{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}
{% assign lang = page.lang | default: 'tr' %}

<div class="cover-card table-cell table-middle">
  {% if author.avatar %}
  <a href="{{ site.data.languages[lang].root }}/">
    <img src="{{ site.url }}/img/{{ author.avatar }}" alt="" class="avatar">
  </a>
 
  {% endif %}
  <a href="{{ site.data.languages[lang].root }}/" class="author_name">{{ author.name }}</a>
  <span class="author_job">{{ author.job }}</span>
  <span class="author_bio mbm">{{ author.bio }}</span>
  
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="{{ site.data.languages[lang].root }}/">{{ site.data.translations.home[lang] }}</a>
        <span>/</span>
      </li>
      {% for p in site.pages %} 
        {% if p.title and p.lang == lang and p.ref != 'home' and p.ref != 'tags' and p.title != site.data.translations.home[lang] %}
          <!-- For Turkish pages, include the about page -->
          {% if lang == 'tr' and p.ref == 'about' and p.permalink == '/tr/about/' %}
            <li class="nav-item">
              <a href="{{ site.url }}{{ p.url }}">{{ p.title }}</a>
              <span>/</span>
            </li>
          <!-- For other pages, include normally -->
          {% elsif p.permalink contains site.data.languages[lang].root or p.url contains site.data.languages[lang].root %}
            <li class="nav-item">
              <a href="{{ site.url }}{{ p.url }}">{{ p.title }}</a>
              {% unless forloop.last %}
                <span>/</span>
              {% endunless %}
            </li>
          {% endif %}
        {% endif %} 
      {% endfor %}
    </ul>
  </nav>
  {% include social-links.html %}
  {% include language-switcher.html %}
</div>
