---
layout: default
---
<div class="row">
    <div class="col l7">
        <div class="row">
            <div class="col">
                {% assign lang = page.lang | default: 'tr' %}
                {% if lang == 'en' %}
                    {% include en/sections/about.html %}
                {% else %}
                    {% include tr/sections/about.html %}
                {% endif %}        
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                {% if lang == 'en' %}
                    {% include en/sections/projects.html %}
                {% else %}
                    {% include tr/sections/projects.html %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col l4 offset-l1">
        <div class="row">
            {% if lang == 'en' %}
                {% include en/sections/skills.html %}
            {% else %}
                {% include tr/sections/skills.html %}
            {% endif %}    
        </div>
        <div class="row">
            {% if lang == 'en' %}
                {% include en/sections/career.html %}
            {% else %}
                {% include tr/sections/career.html %}
            {% endif %}    
        </div>
        <div class="row">
            {% if lang == 'en' %}
                {% include en/sections/education.html %}
            {% else %}
                {% include tr/sections/education.html %}
            {% endif %}    
        </div>
    </div>
    

</div>